/* global styles */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul{
  list-style-type: none;
}
a {
  list-style-type: none;
  text-decoration: none;
  color: #C7A8E0;
}
a:hover{
  color: #E8A15F;
}
li{
  margin: .5rem;
 }

.nav{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
  max-height: 5rem;
  min-width: 100vh;
  background-color:#333533;

  align-items: center;
 }
 .pages{
  display: flex;
  flex-direction: row;
  
 }
 .brand-img{
  max-width: 200px; 
 }
.about-text, p{
  max-width: 600px;
  padding: .5rem;
  margin: auto;

  text-align: left;
}
.about-text, h1{
  text-align: center;
}
.story-image {
  max-width: 400px;
  margin: auto;
}
.about-section{
  display: flex;
  flex-direction: row;
  margin: 3rem;
}
footer{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  max-height: 600px;
  min-width: 100vh;
  background-color:#333533;

  align-items: left;
}
.copyright{
  color: #E8A15F;
 
}